.search-container {
    display: flex; /* Align elements in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Align to the start of the row */
    padding: 10px; /* Add padding around the container */
  }
  
  .search-container mat-form-field {
    width : 600px;
    margin-right: 20px; /* Add spacing between the text box and the button */
  }
  


.search-container button:hover {
    background-color: #3700b3; 
  }