<div *ngIf="recipe">
  <mat-card class="recipe-detail">
    <!-- Header section with title and optional subtitle -->
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>
        Servings: {{ recipe.servings }} | Cooking Time: {{ recipe.readyInMinutes }} mins | 
        Vegetarian: {{ recipe.vegetarian ? 'Yes' : 'No' }} | Gluten-Free: {{ recipe.glutenFree ? 'Yes' : 'No' }} | 
        Dairy-Free: {{ recipe.dairyFree ? 'Yes' : 'No' }}
      </mat-card-subtitle>
    </mat-card-header>

    <!-- Image section for the recipe -->
    <img mat-card-image [src]="recipe.image" alt="Photo of the recipe">

    <!-- Main content of the card -->
    <mat-card-content>
      
      <!-- Ingredients Section -->
      <mat-card-subtitle class="title-text">Ingredients</mat-card-subtitle>
      <ul>
        <!-- Iterate over the extended ingredients -->
        <li *ngFor="let ingredient of recipe.extendedIngredients">
          {{ ingredient.nameClean }} - {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>

      <!-- Instructions Section with styling -->
      <mat-card-subtitle class="title-text">Instructions</mat-card-subtitle>
     
        <!-- Example of instructions broken down into steps -->
        <ul> <!-- Using unordered list to display parsed instruction steps -->
          <li *ngFor="let step of instructionList">{{ step }}</li> <!-- Display each step on a separate line -->
        </ul>

    </mat-card-content>

    <!-- Action section for buttons -->
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveRecipe()">Save</button>
      <button mat-raised-button color="primary" (click)="back()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>